/* Scimke Studios - Global Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #1a1a1a; /* Dark base */
    color: #ffffff;
}